:root {
  font-family: "Chakra Petch", "Quantico", "Turret Road", sans-serif;
  --radius: 10px;
  --border-width: 1px;
  --gap-content-item: 4rem;
  --header-height: 4rem;
  --background-opacity: 0.4;
  --golden-ratio: 1.62;
  --text-main: white;
  --text-main-muted: rgb(220, 220, 220);
  --gradient-profile-project: linear-gradient(180deg,hsl(var(--profile-bg) / var(--background-opacity)) 0%, hsl(var(--projects-bg) / var(--background-opacity)) 100%);
  --gradient-border-profile-project: linear-gradient(180deg,hsl(var(--profile-primary)) 0%, hsl(var(--projects-primary)) 100%);
  --gradient-project-technologies: linear-gradient(180deg,hsl(var(--projects-bg) / var(--background-opacity)) 0%, hsl(var(--technologies-bg) / var(--background-opacity)) 100%);
  --gradient-border-project-technologies: linear-gradient(180deg,hsl(var(--projects-primary)) 0%, hsl(var(--technologies-primary)) 100%);
  scrollbar-color: #888 transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* =========== elements =========== */
html {
  min-height: 100%;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
}

canvas {
  background-color: var(--bg-hex);
  transition: background-color 2s ease;
}

h1 {
  font-size: calc(1rem * pow(var(--golden-ratio), 2));
}

h2 {
  font-size: calc(1rem * pow(var(--golden-ratio), 1));
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  line-height: var(--golden-ratio);
}

mark {
  background-color: transparent;
  color: hsl(var(--secondary));
}

details small {
  color: hsl(var(--text-main-muted));
  display: inline-block;
  line-height: 1.4em;
}

summary {
  font-size: 1.2em;
}
summary::marker {
  display: inline-block !important;
}

strong {
  color: hsl(var(--primary));
  font-weight: 700;
}
strong b {
  color: hsl(var(--secondary));
}

/* =========== ID's =========== */
#content {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  height: 100%;
}
#content > div:first-child {
  padding-top: calc(var(--header-height) + 1rem);
  padding-bottom: 1rem;
}
#content > div:last-child {
  padding-top: 1rem;
  padding-bottom: calc(var(--header-height) + 1rem);
}
#content > div {
  background-color: hsl(var(--bg)/var(--background-opacity));
  padding: 0 20%;
  /* color: hsl(var(--text)); */
}
#content a {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
  color: transparent;
  background-clip: text;
  background-size: 300% 100%;
  background-image: linear-gradient(90deg, hsl(var(--secondary)) 20%, hsl(var(--primary)) 50%, hsl(var(--text-muted)) 60%);
  background-position: 100% 0;
  transition: background-position 0.5s linear;
}
#content a:hover {
  color: transparent;
  background-position: 0 0;
}
#content a img {
  aspect-ratio: 1;
  height: 1.2em;
}
#content > hr {
  margin: 0;
  border-width: 0 var(--border-width);
  border-color: transparent;
  padding-top: var(--gap-content-item) !important;
  padding-bottom: var(--gap-content-item) !important;
  border-style: solid;
}
#content #profile-projects {
  background-image: var(--gradient-profile-project);
}
#content #projects-technologies {
  background-image: var(--gradient-project-technologies);
}

/* =========== classes =========== */
.flex-row {
  display: flex;
  flex-direction: row;
  gap: var(--gap-content-item);
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.highlighted-card {
  border-radius: var(--radius);
  background-image: linear-gradient(0deg, hsl(var(--bg)) 50%, hsl(var(--bg-light)) 80%);
  border: var(--border-width) solid hsl(var(--border));
  border-top-color: hsl(var(--highlight));
}

.light-source-shadow {
  box-shadow: 0px 0px 5px 5px hsl(var(--highlight)/40%);
}

.topic {
  display: inline-block;
  background-color: hsl(var(--secondary));
  padding: 0 0.75em;
  border-radius: var(--radius);
  margin: 0.2em 0;
}

.tab input {
  display: none;
}
.tab label {
  display: inline-block;
  padding: calc(1rem / var(--golden-ratio)) calc(1rem * var(--golden-ratio));
  border-radius: var(--radius);
  transition: background-color 500ms ease;
  color: hsl(var(--text));
  font-size: 1rem;
}
.tab label:hover {
  background-color: hsl(var(--highlight));
  cursor: pointer;
}
.tab input:checked + label {
  background-color: hsl(var(--secondary));
  cursor: default;
}

/*# sourceMappingURL=global.css.map */
