:root {
    font-family: "Chakra Petch", "Quantico", "Turret Road", sans-serif;
    --radius: 10px;
    --border-width: 1px;
    --gap-content-item: 4rem;
    --background-opacity: 0.6;
    --golden-ratio: 1.62;

    --gradient-profile-project: linear-gradient(180deg,hsl(var(--profile-bg) / var(--background-opacity)) 0%, hsl(var(--projects-bg) / var(--background-opacity)) 100%);
}

html {
    min-height: 100%;
    color: white;
}

body {
    margin: 0; padding: 0;
    width: 100%;
    height: 100%;
}

main {
    width: 70%;
    height: 100%;
    padding: 0 15%;
}

canvas {
    background-color: var(--bg-hex);
    transition: background-color 2s ease;
}

hr {
    margin: 0;
    border-width: 0;
    border-color: transparent;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

#profile-projects {
    background-image: var(--gradient-profile-project);
}

h1 {
    font-size: calc(1rem * var(--golden-ratio) * 2);
}

h2 {
    font-size: calc(1rem * var(--golden-ratio) * 1);
}

p {
    font-size: 1rem;
    line-height: var(--golden-ratio);
}

mark {
    background-color: transparent;
    color: hsl(var(--secondary));
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

.content > div:first-child {
    padding-top: 1rem;
}

.content > * {
    padding: 0 2rem;
    width: calc(100% - 2rem * 2);
}

.content > div {
    background-color: hsl(var(--bg) / var(--background-opacity));
    /* color: hsl(var(--text)); */
}

strong {
  color: hsl(var(--primary));
  font-weight: 700;
}

.highlighted-card {
    border-radius: var(--radius);
    background-image: linear-gradient(0deg, hsl(var(--bg)) 50%, hsl(var(--bg-light)) 80%);
    border: var(--border-width) solid hsl(var(--border));
    border-top-color: hsl(var(--highlight));
}