:root {
  --font-size: 16px;
  --font-family: "Chakra Petch", "Quantico", "Turret Road", sans-serif;
  font-family: var(--font-family);
  font-size: var(--font-size);
  --radius: 10px;
  --border-width: 1px;
  --gap-content-item: 4rem;
  --header-height: 4rem;
  --header-gap: 1rem;
  --background-opacity: 0.4;
  --golden-ratio: 1.62;
  --blur-heavy: 20px;
  --blur-light: 5px;
  --max-width: 900px;
  --padding-x: 1rem;
  --padding-y: 1rem;
  --text-main: white;
  --text-main-muted: rgb(220, 220, 220);
  --gradient-profile-project: linear-gradient(
      180deg,
      hsl(var(--profile-bg) / var(--background-opacity)) 0%,
      hsl(var(--projects-bg) / var(--background-opacity)) 100%
  );
  --gradient-border-profile-project: linear-gradient(180deg, hsl(var(--profile-primary)) 0%, hsl(var(--projects-primary)) 100%);
  --gradient-project-technologies: linear-gradient(
      180deg,
      hsl(var(--projects-bg) / var(--background-opacity)) 0%,
      hsl(var(--technologies-bg) / var(--background-opacity)) 100%
  );
  --gradient-border-project-technologies: linear-gradient(180deg, hsl(var(--projects-primary)) 0%, hsl(var(--technologies-primary)) 100%);
  scrollbar-color: #888 transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* =========== elements =========== */
html {
  min-height: 100%;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
}

canvas {
  background-color: var(--bg-hex);
  transition: background-color 2s ease;
}

h1 {
  font-size: calc(1rem * pow(var(--golden-ratio), 2));
}

h2 {
  font-size: calc(1rem * pow(var(--golden-ratio), 1));
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  line-height: var(--golden-ratio);
}

mark {
  background-color: transparent;
  color: hsl(var(--secondary));
}

strong {
  color: hsl(var(--primary));
  font-weight: 700;
}
strong b {
  color: hsl(var(--secondary));
}

/* =========== ID's =========== */
#content {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  height: 100%;
}
#content > div:first-child {
  padding-top: calc(var(--header-height) + var(--header-gap));
  padding-bottom: var(--header-gap);
}
#content > div:nth-last-child(2) {
  padding-top: var(--header-gap);
  padding-bottom: calc(var(--header-height) + var(--header-gap));
}
#content > div:last-child {
  padding-bottom: var(--header-gap);
}
#content .content_section {
  background-color: hsl(var(--bg)/var(--background-opacity));
}
#content .content_section > div {
  width: min(var(--max-width), 100%);
  margin: 0 auto;
  padding: 0 var(--padding-x);
  box-sizing: border-box;
}
#content a {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: transparent;
  background-clip: text;
  background-size: 300% 100%;
  background-image: linear-gradient(90deg, hsl(var(--secondary)) 20%, hsl(var(--primary)) 50%, hsl(var(--text-muted)) 60%);
  background-position: 100% 0;
  transition: background-position 0.5s linear;
}
#content a:hover {
  color: transparent;
  background-position: 0 0;
}
#content a img {
  aspect-ratio: 1;
  backdrop-filter: unset;
}
#content > hr {
  margin: 0;
  border-width: 0 var(--border-width);
  border-color: transparent;
  padding-top: var(--gap-content-item) !important;
  padding-bottom: var(--gap-content-item) !important;
  border-style: solid;
}
#content #profile-projects {
  background-image: var(--gradient-profile-project);
}
#content #projects-technologies {
  background-image: var(--gradient-project-technologies);
}

/* =========== classes =========== */
.flex-row {
  display: flex;
  flex-direction: row;
  gap: var(--gap-content-item);
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.highlighted-card {
  border-radius: var(--radius);
  background-image: linear-gradient(0deg, hsl(var(--bg)) 50%, hsl(var(--bg-light)) 80%);
  border: var(--border-width) solid hsl(var(--border));
  border-top-color: hsl(var(--highlight));
}

.light-source-shadow {
  box-shadow: 0px 0px 5px 5px hsl(var(--highlight)/40%);
}

.topic {
  display: inline-block;
  background-color: hsl(var(--secondary));
  padding: 0 0.75em;
  border-radius: var(--radius);
  margin: 0.2em 0;
}

.tab {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.tab div {
  padding: var(--border-width) 0;
  width: 100%;
  box-sizing: border-box;
}
.tab div:hover label {
  border-bottom: var(--border-width) solid hsl(var(--text-muted));
  cursor: pointer;
}
.tab div input {
  display: none;
}
.tab div label {
  display: inline-block;
  width: calc(100% - 2rem);
  padding: 0.5rem 0;
  margin: 0 1rem;
  opacity: 0.6;
  transition: opacity 250ms linear;
  color: hsl(var(--text));
  font-size: 1rem;
}
.tab div input:checked + label {
  border-bottom: var(--border-width) solid hsl(var(--text));
  opacity: 1;
  cursor: default;
}

.inline-icon {
  display: inline-block;
  aspect-ratio: 1;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
  overflow: hidden;
}
.inline-icon img {
  height: 100%;
  width: 100%;
}

*:has(> .inline-icon) {
  display: inline-flex;
  align-items: center;
  height: 2em;
}

.hover-up {
  transition: transform 300ms ease;
}

.hover-up:hover {
  cursor: pointer;
  transform: translateY(-0.5em);
}

.icon-button {
  display: inline-block;
  height: fit-content;
}
.icon-button img {
  aspect-ratio: 1;
  height: 3rem;
  box-sizing: border-box;
  padding: 0.5rem;
  object-fit: contain;
  backdrop-filter: blur(var(--blur-heavy));
  border-radius: var(--radius);
}

/* =========== media queries =========== */
@media screen and (width < 320px) {
  :root {
    --font-size: 4px;
  }
}
@media screen and (width < 480px) {
  :root {
    --font-size: 8px;
  }
}
@media screen and (width < 768px) {
  :root {
    --font-size: 12px;
  }
}
@media screen and (width < 1024px) {
  :root {
    --font-size: 14px;
  }
}

/*# sourceMappingURL=global.css.map */
