:root {
    --bg-hex: #01091d;
    --primary-hex: #8eb4f1;
    --profile-bg: 223 92% 6%;
}

.profile {
    --bg-dark: hsl(233 100% 4%);
    --bg: var(--profile-bg);
    --bg-light: 218 70% 10%;
    --text: 217 100% 100%;
    --text-muted: 217 78% 75%;
    --highlight: 217 42% 43%;
    --border: 217 54% 32%;
    --border-muted: 217 79% 21%;
    --primary: 217 78% 75%;
    --secondary: 38 55% 61%;
    --danger: 9 53% 66%;
    --warning: 51 35% 50%;
    --success: 149 34% 54%;
    --info: 217 59% 67%;

    display: flex;
    flex-direction: row;
    gap: var(--gap-content-item);
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: rgba(var(--primary-1-rgb), var(--background-opacity));
}

.profile--person {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    border-radius: var(--radius);
    padding: 0.5rem;
    background-color: hsl(var(--bg-light) / var(--background-opacity));
}

.profile--person--image-container {
    aspect-ratio: 1/1;
    height: calc(100vh / 4);
    background: radial-gradient(circle,hsl(var(--primary)) 0%, hsl(var(--bg-light)) 70%);
    border-radius: 50%;
    overflow: hidden;
}

.profile--person--image-container__img {
    aspect-ratio: 3/4;  
    height: 100%;
    display: block;
    margin: 0px auto;
}

.profile--person--contact {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: fit-content;
}

.profile--person h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
    text-align: center;
}

.profile--description h1 {
    display: flex;
}

.profile--description h1 div {
    
}

a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    gap: 0.5em;
    text-decoration: none;
    color: rgba(180 180 180 / 70%);

    background-clip: text;
    background-size: 300% 100%;
    background-image: linear-gradient(90deg,hsl(var(--primary-highlight)) 20%, hsl(var(--primary)) 50%, hsl(var(--text-muted)) 60%);
    background-position: 100% 0;
    transition: background-position 0.5s linear, color 250ms linear;
}

a:hover {
    color: transparent;
    background-position: 0 0;
}


a img {
    aspect-ratio: 1;
    height: 1.2em;
}

a:hover:nth-child(1) img {
    animation: slide-mail 2s ease 0s 1 normal forwards;
}

a:hover:nth-child(2) img {
    animation: slam-linkedin 1.5s ease 0s 1 normal forwards;
}

a:hover:nth-child(3) img {
    animation: bow-github 2s linear 0s 1 normal forwards;
}

@keyframes slide-mail {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(-10px) scaleX(-1); 
    }
    75% {
        transform: translateX(0px) scaleX(-1);
    }
    100% {
        transform: translateX(0) scaleX(1);
    }
}

@keyframes slam-linkedin {
    0% {
        transform: rotateZ(0deg);
    }
    60% {
        transform: rotateZ(45deg);
    }
    70% {
        transform: rotateZ(0deg);
    }
    90% {
        transform: rotateZ(30deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes bow-github {
    25% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1.5) rotateX(-60deg);
    }
    75% {
        transform: scale(1.5) rotateX(0);
    }
    100% {
        transform: scale(1);
    }
}