:root {
    --projects-bg: 168 100% 2%;
}

.projects {
    --bg-dark: 165 100% 0%;
    --bg: var(--projects-bg);
    --bg-light: 170 100% 4%;
    --text: 168 100% 84%;
    --text-muted: 169 47% 58%;
    --highlight: 173 100% 17%;
    --border: 173 100% 9%;
    --border-muted: 172 100% 4%;
    --primary: 169 47% 58%;
    --secondary: 342 61% 74%;
    --danger: 9 53% 66%;
    --warning: 51 35% 50%;
    --success: 149 34% 54%;
    --info: 217 59% 67%;
    
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: calc(var(--gap-content-item) * 2);
}

.background-projects-theme {
    --bg-hex: #000000;
    --primary-hex: #62c6b4;
}

.projects--item {
    display: flex;
    flex-direction: row;
    gap: var(--gap-content-item);
    align-items: center;
    justify-content: center;
    width: 100%;
}

.projects--item > * {
    width: 60%;
}

.projects--item img {
    aspect-ratio: 16/9;
    width: 40%;
    border-radius: var(--radius);
}

.projects--item:nth-of-type(2n-1) {
    flex-direction: row-reverse;
}