:root {
  --projects-bg: 236 41% 6%;
  --projects-primary: 235 71% 79%;
}

.background-projects-theme {
  --bg-hex: #090a16;
  --primary-hex: #a3aaef;
}

.projects_palette {
  --bg-dark: 239 61% 3%;
  --bg: var(--projects-bg);
  --bg-light: 235 26% 10%;
  --text: 234 100% 100%;
  --text-muted: 234 30% 74%;
  --highlight: 235 16% 43%;
  --border: 235 20% 32%;
  --border-muted: 236 27% 22%;
  --primary: var(--projects-primary);
  --secondary: 51 42% 57%;
  --danger: 9 26% 64%;
  --warning: 52 19% 57%;
  --success: 146 17% 59%;
  --info: 217 28% 65%;
}

.content_section:has(#projects) {
  box-sizing: border-box;
}

.projects h1 {
  text-align: center;
  margin-top: 0;
}
.projects__content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: calc(var(--gap-content-item) * 2);
}
.projects__content__item {
  gap: calc(var(--gap-content-item));
}
.projects__content__item details::details-content {
  color: var(--text-main-muted);
}
.projects__content__item > * {
  width: 50%;
}
.projects__content__item img,
.projects__content__item video {
  display: block;
  aspect-ratio: 16/9;
  box-sizing: border-box;
  width: 100%;
  margin: auto 0;
  border-radius: var(--radius);
}
.projects__content__item a {
  display: inline;
}
.projects__content__item:nth-of-type(2n-1) {
  flex-direction: row-reverse;
  text-align: right;
}
.projects__content__item h2 {
  margin-top: 0;
  color: hsl(var(--text));
}

.projects details:hover {
  cursor: pointer;
}
.projects details summary {
  font-size: 1.2em;
}
.projects details small {
  color: hsl(var(--text-main-muted));
  display: inline-block;
  line-height: 1.4em;
}

.projects div:has(> video) {
  overflow: hidden;
  position: relative;
}
.projects div:has(> video):hover {
  cursor: pointer;
}
.projects div:has(> video):hover .hover-item {
  opacity: 1;
}
.projects div:has(> video) > .hover-item {
  opacity: 0;
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(var(--bg-light)/0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects div:has(> video) > .hover-item img {
  object-fit: contain;
  height: 2rem;
  width: 2rem;
}

.pop-up {
  height: 100%;
  max-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding-top: calc(var(--header-height) + var(--header-gap));
  padding-bottom: var(--header-gap);
  overflow: hidden;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.pop-up__content {
  box-sizing: border-box;
  padding: var(--padding-x) var(--padding-y);
  width: calc(var(--max-width) - var(--padding-x) * 2);
  height: fit-content;
  position: relative;
}
.pop-up__content video,
.pop-up__content img {
  aspect-ratio: 16/9;
  width: 100%;
  border-radius: var(--radius);
}
.pop-up__content .icon-button {
  position: absolute;
  top: calc(var(--padding-y) / 2);
  right: calc(var(--padding-x) / 2);
}
.pop-up__content .icon-button img {
  aspect-ratio: 1;
  height: 2rem;
}
.pop-up__content .icon-button img:hover {
  cursor: pointer;
  background-color: hsl(var(--danger));
}

@media screen and (width < 480px) {
  .projects__content__item {
    text-align: left !important;
    flex-direction: column !important;
  }
  .projects__content__item > * {
    width: 100%;
  }
}

/*# sourceMappingURL=projects.css.map */
