:root {
    --projects-bg: 356 86% 6%;
}

.projects {
    --bg-dark: 355 100% 3%;
    --bg: var(--projects-bg);
    --bg-light: 357 58% 10%;
    --text: 1 100% 100%;
    --text-muted: 0 66% 75%;
    --highlight: 359 34% 43%;
    --border: 357 44% 32%;
    --border-muted: 353 68% 20%;
    --primary: 0 66% 75%;
    --secondary: 183 52% 57%;
    --danger: 9 53% 66%;
    --warning: 51 35% 50%;
    --success: 149 34% 54%;
    --info: 217 59% 67%;

    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: calc(var(--gap-content-item) * 2);
}

.background-projects-theme {
    --bg-hex: #1c0204;
    --primary-hex: #e99595;
}

.projects--item {
    display: flex;
    flex-direction: row;
    gap: var(--gap-content-item);
    align-items: center;
    justify-content: center;
    width: 100%;
}

.projects--item > * {
    width: 60%;
}

.projects--item img {
    aspect-ratio: 16/9;
    width: 40%;
    border-radius: var(--radius);
}

.projects--item:nth-of-type(2n-1) {
    flex-direction: row-reverse;
}