:root {
    --font-size: 16px;
    --font-family: "Chakra Petch", "Quantico", "Turret Road", sans-serif;
    font-family: var(--font-family);
    font-size: var(--font-size);
    --radius: 10px;
    --border-width: 1px;
    --gap-content-item: 4rem;
    --header-height: 4rem;
    --background-opacity: 0.4;
    --golden-ratio: 1.62;
    --blur-heavy: 20px;
    --blur-light: 5px;

    --text-main: white;
    --text-main-muted: rgb(220, 220, 220);

    --gradient-profile-project: linear-gradient(
        180deg,
        hsl(var(--profile-bg) / var(--background-opacity)) 0%,
        hsl(var(--projects-bg) / var(--background-opacity)) 100%
    );
    --gradient-border-profile-project: linear-gradient(180deg, hsl(var(--profile-primary)) 0%, hsl(var(--projects-primary)) 100%);

    --gradient-project-technologies: linear-gradient(
        180deg,
        hsl(var(--projects-bg) / var(--background-opacity)) 0%,
        hsl(var(--technologies-bg) / var(--background-opacity)) 100%
    );
    --gradient-border-project-technologies: linear-gradient(180deg, hsl(var(--projects-primary)) 0%, hsl(var(--technologies-primary)) 100%);

    scrollbar-color: #888 transparent;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: transparent;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* =========== elements =========== */

html {
    min-height: 100%;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
}

canvas {
    background-color: var(--bg-hex);
    transition: background-color 2s ease;
}

h1 {
    font-size: calc(1rem * pow(var(--golden-ratio), 2));
}

h2 {
    font-size: calc(1rem * pow(var(--golden-ratio), 1));
}

h3 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
    line-height: var(--golden-ratio);
}

mark {
    background-color: transparent;
    color: hsl(var(--secondary));
}

details {
    small {
        color: hsl(var(--text-main-muted));
        display: inline-block;
        line-height: 1.4em;
    }
}

summary {
    font-size: 1.2em;

    &::marker {
        display: inline-block !important;
    }
}

strong {
    color: hsl(var(--primary));
    font-weight: 700;

    b {
        color: hsl(var(--secondary));
    }
}

/* =========== ID's =========== */

#content {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    height: 100%;

    > div:first-child {
        padding-top: calc(var(--header-height) + 1rem);
        padding-bottom: 1rem;
    }

    > div:last-child {
        padding-top: 1rem;
        padding-bottom: calc(var(--header-height) + 1rem);
    }

    > div {
        background-color: hsl(var(--bg) / var(--background-opacity));
        padding: 0 20%;
        /* color: hsl(var(--text)); */
    }

    a {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;
        text-decoration: none;
        color: transparent;

        background-clip: text;
        background-size: 300% 100%;
        background-image: linear-gradient(90deg, hsl(var(--secondary)) 20%, hsl(var(--primary)) 50%, hsl(var(--text-muted)) 60%);
        background-position: 100% 0;
        transition: background-position 0.5s linear;

        &:hover {
            color: transparent;
            background-position: 0 0;
        }

        img {
            aspect-ratio: 1;
            height: 1.2em;
        }
    }

    > hr {
        margin: 0;
        border-width: 0 var(--border-width);
        border-color: transparent;
        padding-top: var(--gap-content-item) !important;
        padding-bottom: var(--gap-content-item) !important;
        border-style: solid;
    }

    #profile-projects {
        background-image: var(--gradient-profile-project);
        // border-image: var(--gradient-border-profile-project) 1;
    }

    #projects-technologies {
        background-image: var(--gradient-project-technologies);
        // border-image: var(--gradient-border-project-technologies) 1;
    }
}

/* =========== classes =========== */

.flex-row {
    display: flex;
    flex-direction: row;
    gap: var(--gap-content-item);
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.highlighted-card {
    border-radius: var(--radius);
    background-image: linear-gradient(0deg, hsl(var(--bg)) 50%, hsl(var(--bg-light)) 80%);
    border: var(--border-width) solid hsl(var(--border));
    border-top-color: hsl(var(--highlight));
}

.light-source-shadow {
    box-shadow: 0px 0px 5px 5px hsl(var(--highlight) / 40%);
}

.topic {
    display: inline-block;
    background-color: hsl(var(--secondary));
    padding: 0 0.75em;
    border-radius: var(--radius);
    margin: 0.2em 0;
}

.tab {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    overflow: hidden;

    div {
        padding: var(--border-width) 0;
        width: 100%;

        box-sizing: border-box;

        &:hover label {
            border-bottom: var(--border-width) solid hsl(var(--text-muted));
            cursor: pointer;
        }

        input {
            display: none;
        }

        label {
            display: inline-block;
            width: calc(100% - 1rem * 2);
            padding: 0.5rem 0;
            margin: 0 1rem;
            box-sizing: border-box;
            opacity: 0.6;

            transition: opacity 250ms linear;

            color: hsl(var(--text));
            font-size: 1rem;
        }

        input:checked + label {
            border-bottom: var(--border-width) solid hsl(var(--text));
            opacity: 1;
            cursor: default;
        }
    }
}

/* =========== media queries =========== */

@media screen and (width >= 320px) {
    :root {
        --font-size: 8px;
    }
}

@media screen and (width >= 768px) {
    :root {
        --font-size: 12px;
    }
}

@media screen and (width >= 1024px) {
    :root {
        --font-size: 14px;
    }
}

@media screen and (width >= 1280px) {
    :root {
        --font-size: 16px;
    }
}
