:root {
    --projects-bg: 236 41% 6%;
    --projects-primary: 235 71% 79%;
}

.background-projects-theme {
    --bg-hex: #090a16;
    --primary-hex: #a3aaef;
}

.projects_palette {
    --bg-dark: 239 61% 3%;
    --bg: var(--projects-bg);
    --bg-light: 235 26% 10%;
    --text: 234 100% 100%;
    --text-muted: 234 30% 74%;
    --highlight: 235 16% 43%;
    --border: 235 20% 32%;
    --border-muted: 236 27% 22%;
    --primary: var(--projects-primary);
    --secondary: 51 42% 57%;
    --danger: 9 26% 64%;
    --warning: 52 19% 57%;
    --success: 146 17% 59%;
    --info: 217 28% 65%;
}

.content_section:has(#projects) {
    box-sizing: border-box;
}

#projects {
}

.projects {
    h1 {
        text-align: center;
        margin-top: 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: calc(var(--gap-content-item) * 2);

        &__item {
            gap: calc(var(--gap-content-item));

            details::details-content {
                color: var(--text-main-muted);
            }

            > * {
                width: 50%;
            }

            img,
            video {
                display: block;
                aspect-ratio: 16/9;
                width: 100%;
                margin: auto 0;
                border-radius: var(--radius);
            }

            a {
                display: inline;
            }

            &:nth-of-type(2n-1) {
                flex-direction: row-reverse;
                text-align: right;
            }

            h2 {
                margin-top: 0;
                color: hsl(var(--text));
            }
        }
    }
}

@media screen and (width < 320px) {
}

@media screen and (width < 480px) {
    .projects__content__item {
        text-align: left !important;
        flex-direction: column !important;
        > * {
            width: 100%;
        }
    }
}

@media screen and (width < 768px) {
}
