:root {
    --projects-bg: 242 62% 8%;
    --projects-primary: 235 71% 79%;
}

#projects {
    --bg-dark: 245 90% 4%;
    --bg: var(--projects-bg);
    --bg-light: 239 42% 12%;
    --text: 235 100% 100%;
    --text-muted: 235 71% 79%;
    --highlight: 237 27% 48%;
    --border: 239 33% 36%;
    --border-muted: 242 44% 26%;
    --primary: var(--projects-primary);
    --secondary: 51 42% 57%;
    --danger: 9 53% 66%;
    --warning: 51 35% 50%;
    --success: 149 34% 54%;
    --info: 217 59% 67%;
}

.background-projects-theme {
    --bg-hex: #090821;
    --primary-hex: #a3aaef;
}

.projects {
    h1 {
        text-align: center;
        margin-top: 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: calc(var(--gap-content-item) * 2);

        &__item {
            small {
                color: var(--text-main-muted);
            }

            > * {
                width: 50%;
            }

            img {
                display: block;
                aspect-ratio: 16/9;
                width: 100%;
                margin: auto 0;
                border-radius: var(--radius);
            }

            a {
                display: inline;
            }

            &:nth-of-type(2n-1) {
                flex-direction: row-reverse;
                text-align: right;
            }

            h2 {
                margin-top: 0;
                color: hsl(var(--text));
            }
        }
    }
}