.java {
    --bg-dark: 351 100% 4%;
    --bg: 358 100% 6%;
    --bg-light: 6 100% 9%;
    --highlight: 22 100% 26%;
    --border: 6 100% 20%;
    --border-muted: 358 100% 15%;
    --primary: 24 100% 60%;
}

.mysql {
    --bg-dark: 351 100% 4%;
    --bg: 358 100% 6%;
    --bg-light: 6 100% 9%;
    --highlight: 22 100% 26%;
    --border: 6 100% 20%;
    --border-muted: 358 100% 15%;
    --primary: 24 100% 60%;
}

.html {
    --bg-dark: 351 100% 4%;
    --bg: 358 100% 6%;
    --bg-light: 6 100% 9%;
    --highlight: 22 100% 26%;
    --border: 6 100% 20%;
    --border-muted: 358 100% 15%;
    --primary: 24 100% 60%;
}

.css {
    --bg-dark: 351 100% 4%;
    --bg: 358 100% 6%;
    --bg-light: 6 100% 9%;
    --highlight: 22 100% 26%;
    --border: 6 100% 20%;
    --border-muted: 358 100% 15%;
    --primary: 24 100% 60%;
}

.javascript {
    --bg-dark: 351 100% 4%;
    --bg: 358 100% 6%;
    --bg-light: 6 100% 9%;
    --highlight: 22 100% 26%;
    --border: 6 100% 20%;
    --border-muted: 358 100% 15%;
    --primary: 24 100% 60%;
}

.react {
    --bg-dark: 351 100% 4%;
    --bg: 358 100% 6%;
    --bg-light: 6 100% 9%;
    --highlight: 22 100% 26%;
    --border: 6 100% 20%;
    --border-muted: 358 100% 15%;
    --primary: 24 100% 60%;
}

.prisma {
    --bg-dark: 351 100% 4%;
    --bg: 358 100% 6%;
    --bg-light: 6 100% 9%;
    --highlight: 22 100% 26%;
    --border: 6 100% 20%;
    --border-muted: 358 100% 15%;
    --primary: 24 100% 60%;
}

.nextjs {
    --bg-dark: 351 100% 4%;
    --bg: 358 100% 6%;
    --bg-light: 6 100% 9%;
    --highlight: 22 100% 26%;
    --border: 6 100% 20%;
    --border-muted: 358 100% 15%;
    --primary: 24 100% 60%;
}

.blazor {
    --bg-dark: 351 100% 4%;
    --bg: 358 100% 6%;
    --bg-light: 6 100% 9%;
    --highlight: 22 100% 26%;
    --border: 6 100% 20%;
    --border-muted: 358 100% 15%;
    --primary: 24 100% 60%;
}

.net {
    --bg-dark: 351 100% 4%;
    --bg: 358 100% 6%;
    --bg-light: 6 100% 9%;
    --highlight: 22 100% 26%;
    --border: 6 100% 20%;
    --border-muted: 358 100% 15%;
    --primary: 24 100% 60%;
}