:root {
    // --technologies-bg: 330 0% 4%;
    // --technologies-primary: 0 0% 95%;
    --tech-card-size: 150px;
}

// .background-technologies-theme {
//     --bg-hex: #0a0a0a;
//     --primary-hex: #f2f2f2;
// }

// .technologies_palette {
//     --bg-dark: 336 0% 1%;
//     --bg: var(--technologies-bg);
//     --bg-light: 0 0% 9%;
//     --highlight: 330 0% 39%;
//     --border: 0 0% 28%;
//     --border-muted: 300 0% 18%;
//     --primary: var(--technologies-primary);
// }

.content_section:has(#technologies) {
    box-sizing: border-box;
}

#technologies {
    h1 {
        margin-top: 0;
        text-align: center;
    }
}

.grid {
    margin: 0 auto;
    display: grid;
    width: 100%;
    height: fit-content;
    grid-template-columns: repeat(auto-fill, minmax(var(--tech-card-size), 1fr));
    grid-auto-rows: repeat(auto-fill, 1fr);
    gap: 2rem;
}

.tech-card {
    height: 100%;
    width: 100%;
    position: relative;
    aspect-ratio: 1;
    padding: 0.5rem;
    border-width: 2px;
    background-color: black;
    background-image: radial-gradient(ellipse at 150% -50%, hsl(var(--primary) / 0.6), hsl(var(--bg-dark)));
    box-shadow: 0px 0px 30px -5px hsl(var(--highlight));
    box-sizing: border-box;

    > img {
        aspect-ratio: 1;
        width: 3rem;
        position: absolute;
        top: -1.75rem;
        left: 0.5rem;
        fill: var(--primary);
    }

    b {
        color: var(--text-main);
        display: block;
        text-align: right;
    }

    > div {
        background-color: hsl(var(--bg) / var(--background-opacity));
        border-bottom-left-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        max-height: 2rem;
        gap: 0;
        justify-content: space-between;
        padding: 0 0.5rem;
        box-sizing: border-box;
    }

    &-info {
        font-size: 0.75rem;
        height: 100%;

        small {
            color: var(--text-main-muted);
            display: block;
            height: 0.75rem;
            font-weight: lighter;
            text-align: center;
        }

        div {
            text-align: center;
            height: 1.25rem;
            img {
                aspect-ratio: 1;
                height: 100%;
                width: 100%;
                margin: 0 auto;
                object-fit: contain;
            }
        }
    }
}

@media screen and (width < 768px) {
    :root {
        --tech-card-size: 100px;
    }
}

@media screen and (width < 320px) {
    :root {
        --tech-card-size: 75px;
    }
}
